# ==========================================
# Dependencies
# ==========================================
node_modules/

# ==========================================
# Build Output
# ==========================================
dist/

# ==========================================
# Git
# ==========================================
.git/
.github/

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/
*.iml

# ==========================================
# Environment
# ==========================================
.env
.env.*

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Documentation
# ==========================================
README.md

# ==========================================
# Docker
# ==========================================
Dockerfile
docker-compose.yml
compose.yaml